/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

$body-bg: #BBB;

.rowC, .card_buttons, .ingr_and_instruction{
    display:flex; 
    flex-direction:row; 
}
.rowC > div {
    margin: 20px;
}

.card_buttons > button {
    margin:10px;
}

.ingr_and_instruction img {
    height: 2em;
    width: auto;
}
.ingr_and_instruction > div {
        margin:30px;
}



