/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

$body-bg: #BBB;

.card_buttons, .ingr_and_instruction{
  display:flex;
  flex-direction:row;
}


.card_buttons > button {
  margin:10px;
}

// Meal Plan
.dpHeader {
  text-align:center;
  padding-top:70px;
  padding-bottom:30px;
}
.mpBtn {
  float:right;
}
.mpHeadingItem {
  padding-top:20px;
  font-size: 18px;
}
#savePlanBtn {
  margin:20px 0 0 33%;
}
#groceryList {
  border-style: dotted;
}
.dailyMPHeading{
  background-color: #d3d9df;
  height: 60px;
  line-height: 40px;
  //background-color: #b4b8bf;
}
.glImage {
  height: 20px;
  width: 20px;
  //max-width: 100%;
  //height: auto;
}


// meal plan new
#mpFormInput {
  width: 600px;
  //padding: 0 20px 0 20px;
  margin: 0 20px 0 10px;
  //box-sizing: border-box;
}
#mpFormBox {
  width: 100%;
  padding: 30px;
  border: 1px solid gray;
  //background-color: #cef0d2;
  background-color: #ceddf5;
}
#mpNameHeader {
  padding-top:20px;
  color: #007bff;
}
#refreshBtn {
  margin: 20px 0 0 40px;
  //display: inline-block;
  height: 30px;
}

// Popup (Modal)
#mpModal {
  max-width: 900px;
}
.mpModalHeader {
  background-color: #45b552;
}
#mpModalBody {
  background-color: #b4b8bf;
}
.mpModalFooter {
  background-color: #45b552;
  padding-top: 50px;
}


// Recipe Ingredients
.ingr_and_instruction img {
  height: 2em;
  width: auto;
}
.ingr_and_instruction > div {
  margin:30px;
}
.searchFormLabel {
  padding-right: 10px;
}


// Carousel
#carouselMain{
  background-color: #b4b8bf;
}
.carouselCard {
  padding-bottom: 30px;
}
.firstCard {
  margin-left: 4%;
}
.carouselAddMealBtn {
  //margin-left: 80px;
  //float: right;
  //text-align: center;
  //text: center;
  //position: relative;
  //bottom: 10%;
  //right: 10px;
  position:absolute;
  bottom:10%;
  left:18%;
}
.recipeCardText {
  font-size: 12px;
  margin-bottom: 40px;
}
.recipeCardImage {
  width: 100%;
  margin-top: 8%;
}


// Recipe Detail Component
.rdImage {
  width: 100%;
}
.rdTitle {
  margin: 15px 0 10px 0;
}
.rdBtn {
  margin: 10px 10px 0 0;
}
.rdNutrition {
  //font-weight: bold;
  font-size : 18px;
  margin : 0;
  line-height : 30px;
}
.rdNutritionDiv {
  margin-top: 60px;
}
.rdIngrImage {
  height: 2em;
  width: auto;
}


// Meal plan dashboard (mealplan_all and mealplan_card)
.p_meal_detail {
  font-size : 14px;
  background-color : #ceddf5;
  padding : 0 0 0 15px;
  margin : 0;
  line-height : 16px;
}
#mpBtnRow {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.mpPageHeader {
  margin: 40px 0 40px 0;
  text-align: center;
}
.mpCardBtn {
  margin: 0 5px 0 5px;
}
.mpCardTitle {
  text-align: center;
  margin-top: 12px;
}
.mpCardDpHeader{
  padding-top: 10px;
}
.dpDeleteBtn{
  margin-top: 10px;
}
.mpCardAccHeader {
  //margin-top: 20px;
  font-size : 16px;
  padding : 20px 0 0 0;
  margin : 0;
  line-height : 16px;
}
.accRecipeLink{
  text-align: left;
  font-size : 15px;
  padding : 4px 0 4px 0;
  margin : 0;
  line-height : 16px;
}



// Comments
.comments {
  width: 100%;
  margin: 10px auto;
  font-size: 14px;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.comment-input{
  padding: 50px;
}

#username{
  font-size: 18px;
}

.CommentList{
  padding-left: 50px;
  padding-top: 20px;
}

.List{
  padding-top: 20px;
  font-size: 18px;
}
