/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

$body-bg: #BBB;

.rowC, .card_buttons{
    display:flex; 
    flex-direction:row; 
}
.rowC > div {
    margin: 20px;
}

.card_buttons > button {
    margin:10px;
}

#mpHeader {
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
}

.mpBtn {
  float:right;
  margin-top:20px;
}

.mpHeadingItem {
  padding-top:20px;
  font-size: 18px;
}

#savePlanBtn {
  margin-top:20px;
  align-items:center;
}

#groceryList {
  border-style: dotted;
}

#mpModal {
  max-width: 900px;
}



